<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>fileIndex</title>
	<script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src ="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
    <script src="{{ url_for('static', filename='js/fileIndex.js') }}"></script>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/fileIndex.css') }} ">
</head>

<body>
    <form action="/file/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit"/>
    </form>
    <input type = "text" id="deleteInp" /><button id="deleteBtn">delete</button>
    <div id="fileList"></div>
</body>
</html>